<footer>
    <div class="footer-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-4 footer-col text-center">
                    <div class="img-wrap">
                        <img src="../images/footer/1.png" alt="quality guaranteed">
                    </div>
                    <h5>quality guaranteed</h5>
                </div>

                <div class="col-4 footer-col text-center">
                    <div class="img-wrap">
                        <img src="../images/footer/2.png" alt="all natural">
                    </div>
                    <h5>all natural</h5>
                </div>

                <div class="col-4 footer-col text-center">
                    <div class="img-wrap">
                        <img src="../images/footer/3.png" alt="made in canada">
                    </div>
                    <h5>made in canada</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyrights-txt-wrap">
            <div class="row">
                <div class="col-7">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta repudiandae unde similique impedit nesciunt consequatur vol.
                </div>
                <div class="col-5 copy-txt">
                    &copy; 2022 | teacoffeeonline.ca | All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>