{{#if allProductsResp.products}}
	<div class="row all-products-wrap">
		{{#each allProductsResp.products}}
		<div class="col-md-4">
			{{>productListingItem product=this}}
		</div>
		{{/each}}
	</div>
	<nav class="d-flex justify-content-center">
		<ul class="pagination">
			{{!-- display previous btn on all pages except for the 1st page --}}
			{{#notEqual 1 allProductsResp.currentPage}}
			<li class="page-item">
				<a class="page-link" href="?page={{#sum allProductsResp.currentPage -1}}{{/sum}}">
					Previous
				</a>
			</li>
			{{/notEqual}}

			{{!-- display all page numbers when totalPages is greater than one --}}
			{{#notEqual 1 allProductsResp.totalPages}}
				{{#for 1 allProductsResp.totalPages 1}}
				<li class="page-item" >
					<a class="page-link" href="?page={{this}}">
						{{this}}
					</a>
				</li>
				{{/for}}
			{{/notEqual}}

			{{!-- display next btn on all pages except for the last page --}}
			{{#notEqual allProductsResp.totalPages allProductsResp.currentPage}}
			<li class="page-item">
				<a class="page-link" href="?page={{#sum allProductsResp.currentPage 1}}{{/sum}}">
					Next
				</a>
			</li>
			{{/notEqual}}
		</ul>
	</nav>
{{else}}
	<div class="row all-products-wrap text-center">
		<div class="col-12">No Products to display</div>
	</div>
{{/if}}