<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About Us</title>
		{{!-- all meta tags and common link tags --}}
		{{>headMetaTags}}
	</head>
	<body>
		{{!-- header --}}
		{{>header}}

		{{!-- div between header and footer--}}
		<div id="mid-wrap">
			{{!-- all your content goes here --}}
			<div class="container">
                <h4 class="display-4 text-center">About Us</h4>
                <div class="static-content-wrap">
                    <p>Few sentences about the company. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto.</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto.</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis hic unde non, doloribus facilis similique iste nulla laborum rerum debitis recusandae consequuntur minima aspernatur enim dolor? Assumenda, dolore iusto.</p>
                </div>
            </div>
		</div>

		{{!-- footer --}}
		{{>footer}}

		{{!-- scripts --}}
		{{>footerScripts}}
	</body>
</html>