<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tea &amp; Coffee Online</title>
		{{!-- all meta tags and common link tags --}}
		{{>headMetaTags}}
	</head>
	<body>
		{{!-- header --}}
		{{>header}}

		{{!-- div between header and footer--}}
		<div id="mid-wrap">
			{{!-- all your content goes here --}}
            <div class="container-lg my-5 justify-content-center">
                <div class=" border border-success rounded-3">
                    <div class="p-5">
                        <br />
                        <div class="text-center">
                            <h2> Forgot Your Password? </h2>
                        </div>
                        <br /><br />
                        <p class="text-center">Enter the email address associated with your Walmart account and we'll send you the
                            reset instructions</p>
                        <br /><br />
                        <form>
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Email Address" />
                            <div class="mb-4 text-center p-5 ">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            </div>

		{{!-- footer --}}
		{{>footer}}

		{{!-- scripts --}}
		{{>footerScripts}}
	</body>
</html>

